/* media query */

/* tablet */

@media screen and (max-width:950px) {

    .card{
        width: calc(100% / 3 - 20px);
        flex-wrap: wrap;
    }

    .cat ul{
        flex-wrap: wrap;
        justify-content: center;
    }

}

/* smartphone */

@media screen and (max-width:590px) {
    .subtitle{
        display: none;
    }
    
    .logo{
        display: none;
    }
    .logo-xs{
        display: block;

    }

    .side-bar{
        width: 60px;
        text-align: center;
    }
    
    .side-bar h3{
        display: none;
    }

    .player, .top-bar{
        left: 50px;
        width: calc(100% - 50px);
    }

    .card{
        width: calc(100% / 2 - 40px);
        

    }
    .cards{
        justify-content: center;
    }
}

