/* media query */

/* tablet */

@media screen and (max-width:950px) {

    .card{
        width: calc(100% / 3 - 20px);
        flex-wrap: wrap;
    }

    .cat ul{
        flex-wrap: wrap;
        justify-content: center;
    }

    .card-img:hover .download{
        display: inline;
    }

}

/* smartphone */

@media screen and (max-width:590px) {

    
    .logo{
        display: none;
    }
    .logo-xs{
        display: block;

    }

    .side-bar{
        width: 70px;
        text-align: center;
        
    }
    .top-side-bar i{
        display: inline;
    }

    .selected-home{
        border: none;
    }

    .subtitle{
        display: none;
    }

    
    .side-bar h3{
        display: none;
    }

    .player, .top-bar{
        left: 70px;
        width: calc(100% - 70px);
    }

    .card{
        width: calc(100% / 2 - 40px);
        

    }
    .cards{
        justify-content: center;
    }

    .bottom-side-bar{
        display: none;
    }

    .song-name{
        display: none;
    }

    .anteprima img{
        width: 30%;
    }   
}

/*MEdia query verticale*/

@media screen and (max-height:620px) {


.playlist{

    height: 220px;
    overflow: auto;
    
}

}