/* general rules */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*GENERAL RULES*/

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.container{
    width: calc(100% - 200px);

}

a{
    text-decoration: none;
}

.margin-bottom{
    margin-bottom: 20px;
    line-height: 28px;
}

h1{
    color: white;

    margin:30px 0;
}

a:hover{
    color: white;
}
/* sotto titoli in grigio */

.subtitle{

    color: #5c5d60;
}

/*style top bar*/

.top-bar{
    min-height: 100px;
    background-color: #10141e;

    position: fixed;
    left: 200px;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: end;
}

.btn{
    background-color: transparent;
    border: white solid 2px;
    border-radius: 50px;
    padding: 14px 20px;
    color: white;
    font-size: 0.9rem;
    margin-right: 70px;
}



/*style player*/

.player{

    background-color: #141922;
    min-height: 170vh;
    position: absolute;
    left: 200px;
    top: 100px;
    padding: 20px;
}

.cat{
    width: 100%;
    height: 70px;
}

.cat a:hover{
    color: white;
}

.cat ul{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    
}

.card{
    width: calc(100% / 6 - 20px);
    margin: 0 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
 
    
}
.card a{
    color: white;
    font: 1.5rem;
    font-weight: 900;
    margin-bottom: 10px;
}
.card label{
    color: #5c5d60;
    font-size: 0.9rem;
}

.card img{
    width: 100%;
    margin-bottom: 20px;
}
.cat a{
    color: #5c5d60;
    font-size: 0.9rem;
}
/*Style sidebar*/

.logo-xs{
    display: none;
}

.side-bar{
    width: 200px;
    min-height: 100vh;
    background-color: #000000;
    overflow: scroll;
    position: fixed;
    z-index: 210;
    padding: 20px;

}

.side-bar h3{
    font-size: 1.1rem;
    color: white;
}

.icon{
    color: #5c5d60;
    font-size: 1.3rem;
}


/*Style bottom-bar*/

.bottom-bar{
    width: 100%;
    min-height: 80px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    z-index: 220;

    /* flex */
    display: flex;
    justify-content: space-between;
    padding: 20px;

}

.bottom-bar i{
    color: white;
}
.bottom-bar a{
    color: white;
}
.bottom-bar label{
    color: #5c5d60;
    font-size: 0.7rem;
}

.anteprima{
    align-self: center;

}
.anteprima i{
    color: #5c5d60;
}

.anteprima img{
    width: 10%;
    margin-right: 10px;
}

.play{
    width: calc(100% / 3);
    align-self: start;
}
.play i{
    font-size: 1.6rem;
}

.volume{
    align-self: center;


}