/* general rules */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*GENERAL RULES*/

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.container{
    width: calc(100% - 200px);
}

a{
    text-decoration: none;
}

.margin-bottom{
    margin-bottom: 20px;
    line-height: 28px;
}
/* sotto titoli in grigio */

.subtitle{

    color: #5c5d60;
}

/*style top bar*/

.top-bar{
    min-height: 100px;
    background-color: #080b12;

    position: fixed;
    left: 200px;
    z-index: 200;
}



/*style player*/

.player{
    min-height: 200vh;
    background-color: #141922;

    position: absolute;
    top: 100px;
    left: 200px;

}

/*Style sidebar*/

.logo-xs{
    display: none;
}

.side-bar{
    width: 200px;
    min-height: 100vh;
    background-color: #000000;

    position: fixed;
    z-index: 210;

    padding: 20px;

}

.side-bar h3{
    font-size: 1.1rem;
    color: white;
}

.icon{
    color: #5c5d60;
    font-size: 1.3rem;
}

/*Style bottom-bar*/

.bottom-bar{
    min-height: 100px;
    background-color: #282828;
    position: fixed;
    left: 200px;
    bottom: 0;
    z-index: 200;
}
